@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header img{
    padding-left: 30px;
    padding-top: 30px;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: red;
}

#menu-h ul li:last-child a {
    float: right;
    background-color: red;
}
    body{
    background-image: url(banner.jpg);
}
#zed{
    color: #FFF;
    text-align: center;
    padding-top: 20px;
}
.tdimg{
    padding: 61px;
}
tbody{
    padding: 0%;
    color: #FFF;
    font-size: 22px
}
td{
    padding-left: 53px;
}
.tdimg:hover{
   cursor: pointer;
   transition: 1s all;
   transform: scale(1.1);
}



